# Ignore the node_modules directory in the React app folder
deeptsf-dashboard/node_modules/

# Ignore build artifacts and logs
deeptsf-dashboard/build/
deeptsf-dashboard/.env
deeptsf-dashboard/.env.local
deeptsf-dashboard/.env.*.local
*.log

# Ignore Helm chart build artifacts
helm-chart/charts/
helm-chart/*.tgz

# Ignore Docker related files
*.dockerignore
#Dockerfile

# Ignore other OS-specific files
.DS_Store
Thumbs.db

# Ignore GitLab CI/CD local build files
.gitlab-ci-local.yml
